language: php

dist: focal

php:
  - '7.4'
  - '8.0'
  - '8.1'
  - '8.2'

before_script:
  - mkdir -p vendor
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --no-interaction
