<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Cron Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">tests</directory>
        </whitelist>
    </filter>
</phpunit>
