name: CI

on: [push]

jobs:
  PHPUnit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - '8.3'
          - '8.4'
          - '8.5'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: none

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-version }}

      - name: Run unit tests
        run: vendor/bin/phpunit
